### Cumulative stats up to the year before to predict the following years salary 

### Regression - linear, decision, neural networks

### Classification - extend contract or release player

In [1]:
import requests
import json
import pandas as pd
import pickle
import numpy as np
from bs4 import BeautifulSoup
import lxml

pd.set_option('display.max_columns', 999)

import warnings
warnings.filterwarnings('ignore')

import sys
sys.path.insert(0, 'src/')
from data_cleaning import *

In [2]:
# nhl_teams = {}

# for team in range(1,102):
    
#     url = f"https://statsapi.web.nhl.com/api/v1/teams/{team}"

#     headers = {
#         'x-rapidapi-key': "c10092ada9mshd8d43cac6b3023cp1b369ajsn4c45f8f530d0",
#         'x-rapidapi-host': "api-hockey.p.rapidapi.com"
#     }

#     nhl_teams[team] = requests.request("GET", url, headers=headers)

In [3]:
# errors_404 = [59, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 83, 84, 85, 86, 99]

# for i in errors_404:
#     nhl_teams.pop(i)

In [4]:
# pickle_out = open("json_files/nhl_teams.pickle","wb")
# pickle.dump(nhl_teams, pickle_out)
# pickle_out.close()

pickle_in = open("json_files/nhl_teams.pickle","rb")
nhl_teams = pickle.load(pickle_in)

all_teams_df = get_teams(nhl_teams)
all_teams_df.head()

,id,name,link,venue_name,venue_link,venue_city,venue_timeZone,abbreviation,teamName,locationName,firstYearOfPlay,division_id,division_name,division_link,conference_id,conference_name,conference_link,franchise_franchiseId,franchise_teamName,franchise_link,shortName,officialSiteUrl,franchiseId,active,venue_id,division_nameShort,division_abbreviation
1,1,New Jersey Devils,/api/v1/teams/1,Prudential Center,/api/v1/venues/null,Newark,America/New_York,NJD,Devils,New Jersey,1982,25,MassMutual East,/api/v1/divisions/25,6,Eastern,/api/v1/conferences/6,23,Devils,/api/v1/franchises/23,New Jersey,http://www.newjerseydevils.com/,23,True,NaN,NaN,NaN
2,2,New York Islanders,/api/v1/teams/2,Nassau Veterans Memorial Coliseum,/api/v1/venues/null,Uniondale,America/New_York,NYI,Islanders,New York,1972,25,MassMutual East,/api/v1/divisions/25,6,Eastern,/api/v1/conferences/6,22,Islanders,/api/v1/franchises/22,NY Islanders,http://www.newyorkislanders.com/,22,True,NaN,NaN,NaN
3,3,New York Rangers,/api/v1/teams/3,Madison Square Garden,/api/v1/venues/5054,New York,America/New_York,NYR,Rangers,New York,1926,25,MassMutual East,/api/v1/divisions/25,6,Eastern,/api/v1/conferences/6,10,Rangers,/api/v1/franchises/10,NY Rangers,http://www.newyorkrangers.com/,10,True,5054,NaN,NaN
4,4,Philadelphia Flyers,/api/v1/teams/4,Wells Fargo Center,/api/v1/venues/5096,Philadelphia,America/New_York,PHI,Flyers,Philadelphia,1967,25,MassMutual East,/api/v1/divisions/25,6,Eastern,/api/v1/conferences/6,16,Flyers,/api/v1/franchises/16,Philadelphia,http://www.philadelphiaflyers.com/,16,True,5096,NaN,NaN
5,5,Pittsburgh Penguins,/api/v1/teams/5,PPG Paints Arena,/api/v1/venues/5034,Pittsburgh,America/New_York,PIT,Penguins,Pittsburgh,1967,25,MassMutual East,/api/v1/divisions/25,6,Eastern,/api/v1/conferences/6,17,Penguins,/api/v1/franchises/17,Pittsburgh,http://pittsburghpenguins.com/,17,True,5034,NaN,NaN

In [5]:
# nhl_team_stadiums = {}

# for link in all_teams_df['venue_link']:

#     url = f"https://statsapi.web.nhl.com/api/v1/teams/{link}/roster"

#     headers = {
#         'x-rapidapi-key': "c10092ada9mshd8d43cac6b3023cp1b369ajsn4c45f8f530d0",
#         'x-rapidapi-host': "api-hockey.p.rapidapi.com"
#     }

#     nhl_team_stadiums[link] = requests.request("GET", url, headers=headers)

print('Response [404]')

Response [404]

In [6]:
# nhl_team_franchise = {}

# for link in all_teams_df['franchise_link']:

#     url = f"https://statsapi.web.nhl.com/api/v1/teams/{link}/roster"

#     headers = {
#         'x-rapidapi-key': "c10092ada9mshd8d43cac6b3023cp1b369ajsn4c45f8f530d0",
#         'x-rapidapi-host': "api-hockey.p.rapidapi.com"
#     }

#     nhl_team_franchise[link] = requests.request("GET", url, headers=headers)

print('Response [404]')

Response [404]

In [7]:
# nhl_team_roster = {}

# for number in range(1,55):

#     url = f"https://statsapi.web.nhl.com/api/v1/teams/{number}/roster"

#     headers = {
#         'x-rapidapi-key': "c10092ada9mshd8d43cac6b3023cp1b369ajsn4c45f8f530d0",
#         'x-rapidapi-host': "api-hockey.p.rapidapi.com"
#     }

#     nhl_team_roster[number] = requests.request("GET", url, headers=headers)

In [8]:
# roster_error_404 = [11, 27, 31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51]
# for error in roster_error_404:
#     nhl_team_roster.pop(error)

In [9]:
# pickle_out = open("json_files/nhl_rosters.pickle","wb")
# pickle.dump(nhl_team_roster, pickle_out)
# pickle_out.close()

In [10]:
pickle_in = open("json_files/nhl_rosters.pickle","rb")
nhl_rosters = pickle.load(pickle_in)

In [11]:
rosters = build_roster(nhl_rosters)

In [12]:
rosters

,id,fullName,link,jerseyNumber,code,name,type,abbreviation,Team_Number
0,8477972,Josh Jacobs,/api/v1/people/8477972,40,D,Defenseman,Defenseman,D,1
1,8478421,A.J. Greer,/api/v1/people/8478421,42,L,Left Wing,Forward,LW,1
2,8474056,P.K. Subban,/api/v1/people/8474056,76,D,Defenseman,Defenseman,D,1
3,8475809,Scott Wedgewood,/api/v1/people/8475809,41,G,Goalie,Goalie,G,1
4,8476807,Matt Tennyson,/api/v1/people/8476807,7,D,Defenseman,Defenseman,D,1
...,...,...,...,...,...,...,...,...,...
941,8479639,Dylan Coghlan,/api/v1/people/8479639,52,D,Defenseman,Defenseman,D,54
942,8479974,Nolan Patrick,/api/v1/people/8479974,19,C,Center,Forward,C,54
943,8479980,Nicolas Hague,/api/v1/people/8479980,14,D,Defenseman,Defenseman,D,54
944,8480313,Logan Thompson,/api/v1/people/8480313,36,G,Goalie,Goalie,G,54
945,8480727,Zach Whitecloud,/api/v1/people/8480727,2,D,Defenseman,Defenseman,D,54

In [13]:
# player_stats = {}
# for link in rosters['link']:

#     url = f"https://statsapi.web.nhl.com/{link}"

#     headers = {
#         'x-rapidapi-key': "c10092ada9mshd8d43cac6b3023cp1b369ajsn4c45f8f530d0",
#         'x-rapidapi-host': "api-hockey.p.rapidapi.com"
#     }

#     player_stats[link] = requests.request("GET", url, headers=headers)

In [14]:
# pickle_out = open("json_files/nhl_player_stats.pickle","wb")
# pickle.dump(player_stats, pickle_out)
# pickle_out.close()

In [15]:
pickle_in = open("json_files/nhl_player_stats.pickle","rb")
nhl_player_stats = pickle.load(pickle_in)

In [16]:
player_stats = player_statistics(rosters, nhl_player_stats)
player_stats.head()

,id,fullName,link,jerseyNumber,code,name,type,abbreviation,Team_Number,index,id,fullName,link,firstName,lastName,primaryNumber,birthDate,currentAge,birthCity,birthStateProvince,birthCountry,nationality,height,weight,active,alternateCaptain,captain,rookie,shootsCatches,rosterStatus,current_team_id,current_team_name,current_team_link,primary_position_code,primary_position_name,primary_position_type,primary_position_abbreviation
0,8477972,Josh Jacobs,/api/v1/people/8477972,40,D,Defenseman,Defenseman,D,1,/api/v1/people/8477972,8477972,Josh Jacobs,/api/v1/people/8477972,Josh,Jacobs,40,1996-02-15,25,Shelby Township,MI,USA,USA,"6' 2""",200,True,False,False,True,R,Y,1,New Jersey Devils,/api/v1/teams/1,D,Defenseman,Defenseman,D
1,8478421,A.J. Greer,/api/v1/people/8478421,42,L,Left Wing,Forward,LW,1,/api/v1/people/8478421,8478421,A.J. Greer,/api/v1/people/8478421,A.J.,Greer,42,1996-12-14,24,Joliette,QC,CAN,CAN,"6' 3""",210,True,False,False,False,L,Y,1,New Jersey Devils,/api/v1/teams/1,L,Left Wing,Forward,LW
2,8474056,P.K. Subban,/api/v1/people/8474056,76,D,Defenseman,Defenseman,D,1,/api/v1/people/8474056,8474056,P.K. Subban,/api/v1/people/8474056,P.K.,Subban,76,1989-05-13,32,Toronto,ON,CAN,CAN,"6' 0""",210,True,True,False,False,R,Y,1,New Jersey Devils,/api/v1/teams/1,D,Defenseman,Defenseman,D
3,8475809,Scott Wedgewood,/api/v1/people/8475809,41,G,Goalie,Goalie,G,1,/api/v1/people/8475809,8475809,Scott Wedgewood,/api/v1/people/8475809,Scott,Wedgewood,41,1992-08-14,28,Brampton,ON,CAN,CAN,"6' 2""",207,True,False,False,False,L,Y,1,New Jersey Devils,/api/v1/teams/1,G,Goalie,Goalie,G
4,8476807,Matt Tennyson,/api/v1/people/8476807,7,D,Defenseman,Defenseman,D,1,/api/v1/people/8476807,8476807,Matt Tennyson,/api/v1/people/8476807,Matt,Tennyson,7,1990-04-23,31,Minneapolis,MN,USA,USA,"6' 2""",205,True,False,False,False,R,Y,1,New Jersey Devils,/api/v1/teams/1,D,Defenseman,Defenseman,D

In [17]:
# player_stats_20202021 = data_cleaning.player_stats_by_year(rosters, '20202021' )
# player_stats_20192020 = data_cleaning.player_stats_by_year(rosters, '20192020' )
# player_stats_20182019 = data_cleaning.player_stats_by_year(rosters, '20182019' )
# player_stats_20172018 = data_cleaning.player_stats_by_year(rosters, '20172018' )
# player_stats_20162017 = data_cleaning.player_stats_by_year(rosters, '20162017' )
# player_stats_20152016 = data_cleaning.player_stats_by_year(rosters, '20152016' )
# player_stats_20142015 = data_cleaning.player_stats_by_year(rosters, '20142015' )
# player_stats_20132014 = data_cleaning.player_stats_by_year(rosters, '20132014' )

In [18]:
# pickle_out = open("json_files/nhl_player_stats20132014.pickle","wb")
# pickle.dump(player_stats_20132014, pickle_out)
# pickle_out.close()

# pickle_out = open("json_files/nhl_player_stats20142015.pickle","wb")
# pickle.dump(player_stats_20142015, pickle_out)
# pickle_out.close()

# pickle_out = open("json_files/nhl_player_stats20152016.pickle","wb")
# pickle.dump(player_stats_20152016, pickle_out)
# pickle_out.close()

# pickle_out = open("json_files/nhl_player_stats20162017.pickle","wb")
# pickle.dump(player_stats_20162017, pickle_out)
# pickle_out.close()

# pickle_out = open("json_files/nhl_player_stats20172018.pickle","wb")
# pickle.dump(player_stats_20172018, pickle_out)
# pickle_out.close()

# pickle_out = open("json_files/nhl_player_stats20182019.pickle","wb")
# pickle.dump(player_stats_20182019, pickle_out)
# pickle_out.close()

# pickle_out = open("json_files/nhl_player_stats20192020.pickle","wb")
# pickle.dump(player_stats_20192020, pickle_out)
# pickle_out.close()

# pickle_out = open("json_files/nhl_player_stats20202021.pickle","wb")
# pickle.dump(player_stats_20202021, pickle_out)
# pickle_out.close()

In [19]:
pickle_in = open("json_files/nhl_player_stats20132014.pickle","rb")
player_stats_20132014 = pickle.load(pickle_in)

pickle_in = open("json_files/nhl_player_stats20142015.pickle","rb")
player_stats_20142015 = pickle.load(pickle_in)

pickle_in = open("json_files/nhl_player_stats20152016.pickle","rb")
player_stats_20152016 = pickle.load(pickle_in)

pickle_in = open("json_files/nhl_player_stats20162017.pickle","rb")
player_stats_20162017 = pickle.load(pickle_in)

pickle_in = open("json_files/nhl_player_stats20172018.pickle","rb")
player_stats_20172018 = pickle.load(pickle_in)

pickle_in = open("json_files/nhl_player_stats20182019.pickle","rb")
player_stats_20182019 = pickle.load(pickle_in)

pickle_in = open("json_files/nhl_player_stats20192020.pickle","rb")
player_stats_20192020 = pickle.load(pickle_in)

pickle_in = open("json_files/nhl_player_stats20202021.pickle","rb")
player_stats_20202021 = pickle.load(pickle_in)

In [20]:
play_stats_20202021 = extract_player_stats(rosters, player_stats_20202021)
play_stats_20192020 = extract_player_stats(rosters, player_stats_20192020)
play_stats_20182019 = extract_player_stats(rosters, player_stats_20182019)
play_stats_20172018 = extract_player_stats(rosters, player_stats_20172018)
play_stats_20162017 = extract_player_stats(rosters, player_stats_20162017)
play_stats_20152016 = extract_player_stats(rosters, player_stats_20152016)
play_stats_20142015 = extract_player_stats(rosters, player_stats_20142015)
play_stats_20132014 = extract_player_stats(rosters, player_stats_20132014)

In [21]:
play_stats_20162017

,index,season,timeOnIce,assists,goals,pim,shots,games,hits,powerPlayGoals,powerPlayPoints,powerPlayTimeOnIce,evenTimeOnIce,penaltyMinutes,faceOffPct,shotPct,gameWinningGoals,overTimeGoals,shortHandedGoals,shortHandedPoints,shortHandedTimeOnIce,blocked,plusMinus,points,shifts,timeOnIcePerGame,evenTimeOnIcePerGame,shortHandedTimeOnIcePerGame,powerPlayTimeOnIcePerGame,ot,shutouts,wins,losses,saves,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShots,evenShots,powerPlayShots,savePercentage,goalAgainstAverage,gamesStarted,shotsAgainst,goalsAgainst,powerPlaySavePercentage,shortHandedSavePercentage,evenStrengthSavePercentage
0,/api/v1/people/8478421,20162017,68:17,1,0,4,8,5,4,0,0,02:52,63:27,4,0.0,0.0,0,0,0,0,01:58,3,-2,1,102,13:39,12:41,00:23,00:34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,/api/v1/people/8474056,20162017,1610:40,30,10,44,142,66,78,3,16,172:00,1300:43,44,0.0,7.04,2,0,0,1,137:57,104,-8,40,1860,24:24,19:42,02:05,02:36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,/api/v1/people/8476807,20162017,597:54,6,0,6,36,45,65,0,0,02:01,582:04,6,0.0,0.0,0,0,0,0,13:49,48,-13,6,826,13:17,12:56,00:18,00:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,/api/v1/people/8476850,20162017,1099:59,9,2,24,52,60,23,0,1,26:42,960:50,24,0.0,3.85,0,0,0,1,112:27,96,3,11,1463,18:19,16:00,01:52,00:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,/api/v1/people/8476923,20162017,1628:11,28,3,58,125,80,79,0,13,181:27,1421:30,58,0.0,2.4,1,0,0,0,25:14,73,-31,31,2091,20:21,17:46,00:18,02:16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,/api/v1/people/8477447,20162017,588:39,7,2,28,60,34,14,1,2,73:57,488:11,28,0.0,3.33,1,1,0,1,26:31,30,-6,9,738,17:18,14:21,00:46,02:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548,/api/v1/people/8477478,20162017,369:02,3,5,21,50,41,112,0,0,00:11,366:27,21,50.0,10.0,1,0,0,0,02:24,10,-1,8,583,09:00,08:56,00:03,00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
549,/api/v1/people/8477887,20162017,136:00,0,0,0,12,14,30,0,0,00:19,134:23,0,60.0,0.0,0,0,0,0,01:18,5,-6,0,189,09:42,09:35,00:05,00:01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
550,/api/v1/people/8477931,20162017,111:22,0,1,2,19,11,10,0,0,00:29,108:33,2,54.41,5.26,0,0,0,0,02:20,5,-1,1,162,10:07,09:52,00:12,00:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
551,/api/v1/people/8477949,20162017,64:13,0,0,0,8,6,5,0,0,00:00,64:13,0,0.0,0.0,0,0,0,0,00:00,7,-3,0,86,10:42,10:42,00:00,00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Web Scraping

In [22]:
all_teams_df_active = all_teams_df[all_teams_df['active'] == True]

team_names = []

for name in all_teams_df_active['name']:

    team_names.append(name.lower().replace(" ", "-"))
    
team_names = team_names[:31]

team_names

['new-jersey-devils',
 'new-york-islanders',
 'new-york-rangers',
 'philadelphia-flyers',
 'pittsburgh-penguins',
 'boston-bruins',
 'buffalo-sabres',
 'montrÃ©al-canadiens',
 'ottawa-senators',
 'toronto-maple-leafs',
 'carolina-hurricanes',
 'florida-panthers',
 'tampa-bay-lightning',
 'washington-capitals',
 'chicago-blackhawks',
 'detroit-red-wings',
 'nashville-predators',
 'st.-louis-blues',
 'calgary-flames',
 'colorado-avalanche',
 'edmonton-oilers',
 'vancouver-canucks',
 'anaheim-ducks',
 'dallas-stars',
 'los-angeles-kings',
 'san-jose-sharks',
 'columbus-blue-jackets',
 'minnesota-wild',
 'winnipeg-jets',
 'arizona-coyotes',
 'vegas-golden-knights']

In [23]:
# stats_link = []

# for team in team_names:

#     url = f'https://www.spotrac.com/nhl/{team}/cap'

#     spotrac = requests.get(url)

#     soup = BeautifulSoup(spotrac.text, 'html.parser')

#     base_url = 'https://www.spotrac.com/redirect'

#     for link in soup.find_all('a'):

#         url = link.get('href')

#         if url and '/player/' in url:

#             stats_link.append(url)

In [24]:
# len(stats_link)
print('1384')

1384

In [25]:
# stats_link = [item for item in stats_link if '/0/' not in item]

In [26]:
# len(stats_link)
print('1184')

1184

In [27]:
# known_bad = []

# known_good = []

# for i in stats_link:
        
#     url = i + 'cash-earnings/'
    
#     test_request = requests.get(url)
    
#     soup = BeautifulSoup(test_request.text, 'lxml')
    
#     try:    
    
#         testing = soup.body.find('div', class_='teams').find('ul', class_='cd-tabs-content')\
#         .li.section.table.get_text().split()

#     except:

#         known_bad.append(i)

#     name =[soup.h1.text]

#     for i in testing:
#         name.append(i)

#     known_good.append(name)

In [28]:
# player_salaries_base = pd.DataFrame(known_good)

In [29]:
# pickle_out = open("json_files/nhl_player_salaries_base.pickle","wb")
# pickle.dump(player_salaries_base, pickle_out)
# pickle_out.close()

In [30]:
pickle_in = open("json_files/nhl_player_salaries_base.pickle","rb")
nhl_player_salaries_base = pickle.load(pickle_in)

In [31]:
nhl_salaries_list = nhl_player_salaries_base.values.tolist()

# filter_known_good = nhl_salaries_list[].index('Est.')

In [32]:
filtered_val = []

for val in range(0,2000):

    try:
    
        filter_known_good = nhl_salaries_list[val].index('Est.')

        filtered_val.append(nhl_salaries_list[val][:filter_known_good])
        
    except:
        
        pass

In [33]:
filtered_salaries = pd.DataFrame(filtered_val)
filtered_salaries = filtered_salaries.drop([num for num in range(1,10)], axis=1)
filtered_salaries

,0,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109
0,P.K. Subban,2009-2010,-,"$87,500",-,"$87,500",2010-2011,"$787,500","$87,500",-,"$875,000",2011-2012,"$787,500","$87,500",-,"$875,000",2014-2015,"$2,000,000","$5,000,000",-,"$7,000,000",2015-2016,"$2,500,000","$4,500,000",-,"$7,000,000",2016-2017,"$9,000,000","$2,000,000",-,"$11,000,000",2017-2018,"$9,000,000","$2,000,000",-,"$11,000,000",2018-2019,"$10,000,000",-,-,"$10,000,000",2019-2020,"$10,000,000",-,-,"$10,000,000",2020-2021,"$2,000,000","$6,000,000",-,"$8,000,000",2021-2022,"$2,000,000","$6,000,000",-,"$8,000,000",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,Nico Hischier,2017-2018,"$832,500","$92,500",-,"$925,000",2018-2019,"$832,500","$92,500",-,"$925,000",2019-2020,"$832,500","$92,500",-,"$925,000",2020-2021,"$4,000,000","$3,000,000",-,"$7,000,000",2021-2022,"$7,250,000",-,-,"$7,250,000",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,Damon Severson,2014-2015,"$550,000","$92,500",-,"$642,500",2015-2016,"$575,000",-,-,"$575,000",2016-2017,"$600,000",-,-,"$600,000",2017-2018,"$2,500,000",-,-,"$2,500,000",2018-2019,"$3,000,000",-,-,"$3,000,000",2019-2020,"$4,675,000",-,-,"$4,675,000",2020-2021,"$4,675,000",-,-,"$4,675,000",2021-2022,"$5,050,000",-,-,"$5,050,000",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,Will Butcher,2017-2018,"$832,500","$92,500",-,"$925,000",2018-2019,"$832,500","$92,500",-,"$925,000",2019-2020,"$3,500,000",-,-,"$3,500,000",2020-2021,"$3,600,000",-,-,"$3,600,000",2021-2022,"$4,100,000",-,-,"$4,100,000",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,Andreas Johnsson,2018-2019,"$787,500",-,-,"$787,500",2019-2020,"$700,000","$4,300,000",-,"$5,000,000",2020-2021,"$2,600,000","$1,000,000",-,"$3,600,000",2021-2022,"$750,000","$1,750,000",-,"$2,500,000",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1179,Nick DeSimone,2018-2019,"$8,952",-,-,"$8,952",2019-2020,"$30,104",-,-,"$30,104",2020-2021,"$6,034",-,-,"$6,034",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1180,Cody Glass,2019-2020,"$586,356","$92,500",-,"$678,856",2020-2021,"$480,859",-,-,"$480,859",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1181,Nolan Patrick,2017-2018,"$832,500","$92,500",-,"$925,000",2018-2019,"$832,500","$92,500",-,"$925,000",2019-2020,"$832,500","$92,500",-,"$925,000",2020-2021,"$874,125",-,-,"$874,125",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1182,Mason Primeau,2017-2018,"$832,500","$92,500",-,"$925,000",2018-2019,"$832,500","$92,500",-,"$925,000",2019-2020,"$832,500","$92,500",-,"$925,000",2020-2021,"$874,125",-,-,"$874,125",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1183,Ryan Reaves,2010-2011,"$500,000",-,-,"$500,000",2011-2012,"$525,000",-,-,"$525,000",2012-2013,"$351,220",-,-,"$351,220",2013-2014,"$600,000",-,-,"$600,000",2014-2015,"$1,125,000",-,-,"$1,125,000",2015-2016,"$1,125,000",-,-,"$1,125,000",2016-2017,"$1,125,000",-,-,"$1,125,000",2017-2018,"$266,112",-,-,"$266,112",2017-2018,"$858,888",-,-,"$858,888",2018-2019,"$2,775,000",-,-,"$2,775,000",2019-2020,"$2,775,000",-,-,"$2,775,000",2020-2021,"$1,375,000",-,-,"$1,375,000",2021-2022,"$2,125,000",-,-,"$2,125,000",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [34]:
filtered_salaries_year = filtered_salaries[[year for year in range(10,110,5)]]
filtered_salaries_total = filtered_salaries[[money for money in range(14, 114, 5)]]
filtered_salaries_name = filtered_salaries[0]

filtered_salaries_df = pd.concat([filtered_salaries_name, filtered_salaries_year,\
                                  filtered_salaries_total], axis = 1)
filtered_salaries_df

,0,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100,105,14,19,24,29,34,39,44,49,54,59,64,69,74,79,84,89,94,99,104,109
0,P.K. Subban,2009-2010,2010-2011,2011-2012,2014-2015,2015-2016,2016-2017,2017-2018,2018-2019,2019-2020,2020-2021,2021-2022,None,None,None,None,None,None,None,None,None,"$87,500","$875,000","$875,000","$7,000,000","$7,000,000","$11,000,000","$11,000,000","$10,000,000","$10,000,000","$8,000,000","$8,000,000",None,None,None,None,None,None,None,None,None
1,Nico Hischier,2017-2018,2018-2019,2019-2020,2020-2021,2021-2022,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,"$925,000","$925,000","$925,000","$7,000,000","$7,250,000",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,Damon Severson,2014-2015,2015-2016,2016-2017,2017-2018,2018-2019,2019-2020,2020-2021,2021-2022,None,None,None,None,None,None,None,None,None,None,None,None,"$642,500","$575,000","$600,000","$2,500,000","$3,000,000","$4,675,000","$4,675,000","$5,050,000",None,None,None,None,None,None,None,None,None,None,None,None
3,Will Butcher,2017-2018,2018-2019,2019-2020,2020-2021,2021-2022,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,"$925,000","$925,000","$3,500,000","$3,600,000","$4,100,000",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,Andreas Johnsson,2018-2019,2019-2020,2020-2021,2021-2022,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,"$787,500","$5,000,000","$3,600,000","$2,500,000",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1179,Nick DeSimone,2018-2019,2019-2020,2020-2021,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,"$8,952","$30,104","$6,034",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1180,Cody Glass,2019-2020,2020-2021,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,"$678,856","$480,859",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1181,Nolan Patrick,2017-2018,2018-2019,2019-2020,2020-2021,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,"$925,000","$925,000","$925,000","$874,125",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1182,Mason Primeau,2017-2018,2018-2019,2019-2020,2020-2021,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,"$925,000","$925,000","$925,000","$874,125",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1183,Ryan Reaves,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016,2016-2017,2017-2018,2017-2018,2018-2019,2019-2020,2020-2021,2021-2022,None,None,None,None,None,None,None,"$500,000","$525,000","$351,220","$600,000","$1,125,000","$1,125,000","$1,125,000","$266,112","$858,888","$2,775,000","$2,775,000","$1,375,000","$2,125,000",None,None,None,None,None,None,None

In [35]:
columns = filtered_salaries_df[10].sort_values().unique().tolist()

In [36]:
final_salaries_df = pd.DataFrame(index=filtered_salaries_df[0], columns=columns).reset_index()
final_salaries_df

,0,2002-2003,2003-2004,2005-2006,2006-2007,2007-2008,2008-2009,2009-2010,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016,2016-2017,2017-2018,2018-2019,2019-2020,2020-2021,2021-2022,NaN
0,P.K. Subban,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nico Hischier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Damon Severson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Will Butcher,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andreas Johnsson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1179,Nick DeSimone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1180,Cody Glass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1181,Nolan Patrick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1182,Mason Primeau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1183,Ryan Reaves,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
filtered_salaries_df

,0,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100,105,14,19,24,29,34,39,44,49,54,59,64,69,74,79,84,89,94,99,104,109
0,P.K. Subban,2009-2010,2010-2011,2011-2012,2014-2015,2015-2016,2016-2017,2017-2018,2018-2019,2019-2020,2020-2021,2021-2022,None,None,None,None,None,None,None,None,None,"$87,500","$875,000","$875,000","$7,000,000","$7,000,000","$11,000,000","$11,000,000","$10,000,000","$10,000,000","$8,000,000","$8,000,000",None,None,None,None,None,None,None,None,None
1,Nico Hischier,2017-2018,2018-2019,2019-2020,2020-2021,2021-2022,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,"$925,000","$925,000","$925,000","$7,000,000","$7,250,000",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,Damon Severson,2014-2015,2015-2016,2016-2017,2017-2018,2018-2019,2019-2020,2020-2021,2021-2022,None,None,None,None,None,None,None,None,None,None,None,None,"$642,500","$575,000","$600,000","$2,500,000","$3,000,000","$4,675,000","$4,675,000","$5,050,000",None,None,None,None,None,None,None,None,None,None,None,None
3,Will Butcher,2017-2018,2018-2019,2019-2020,2020-2021,2021-2022,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,"$925,000","$925,000","$3,500,000","$3,600,000","$4,100,000",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,Andreas Johnsson,2018-2019,2019-2020,2020-2021,2021-2022,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,"$787,500","$5,000,000","$3,600,000","$2,500,000",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1179,Nick DeSimone,2018-2019,2019-2020,2020-2021,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,"$8,952","$30,104","$6,034",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1180,Cody Glass,2019-2020,2020-2021,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,"$678,856","$480,859",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1181,Nolan Patrick,2017-2018,2018-2019,2019-2020,2020-2021,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,"$925,000","$925,000","$925,000","$874,125",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1182,Mason Primeau,2017-2018,2018-2019,2019-2020,2020-2021,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,"$925,000","$925,000","$925,000","$874,125",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1183,Ryan Reaves,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016,2016-2017,2017-2018,2017-2018,2018-2019,2019-2020,2020-2021,2021-2022,None,None,None,None,None,None,None,"$500,000","$525,000","$351,220","$600,000","$1,125,000","$1,125,000","$1,125,000","$266,112","$858,888","$2,775,000","$2,775,000","$1,375,000","$2,125,000",None,None,None,None,None,None,None

In [39]:
for year in range(10,110,5):
    for value in filtered_salaries_df[year]:
        for column in final_salaries_df.columns:
            if column == value:        
                final_salaries_df[value] = filtered_salaries_df[year+4]
            
final_salaries_df

,0,2002-2003,2003-2004,2005-2006,2006-2007,2007-2008,2008-2009,2009-2010,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016,2016-2017,2017-2018,2018-2019,2019-2020,2020-2021,2021-2022,NaN
0,P.K. Subban,"$87,500","$875,000","$875,000","$7,000,000","$7,000,000","$11,000,000","$11,000,000","$10,000,000","$10,000,000","$8,000,000","$8,000,000",None,None,None,None,None,None,None,None,None
1,Nico Hischier,"$925,000","$925,000","$925,000","$7,000,000","$7,250,000",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,Damon Severson,"$642,500","$575,000","$600,000","$2,500,000","$3,000,000","$4,675,000","$4,675,000","$5,050,000",None,None,None,None,None,None,None,None,None,None,None,None
3,Will Butcher,"$925,000","$925,000","$3,500,000","$3,600,000","$4,100,000",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,Andreas Johnsson,"$787,500","$5,000,000","$3,600,000","$2,500,000",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1179,Nick DeSimone,"$8,952","$30,104","$6,034",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1180,Cody Glass,"$678,856","$480,859",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1181,Nolan Patrick,"$925,000","$925,000","$925,000","$874,125",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1182,Mason Primeau,"$925,000","$925,000","$925,000","$874,125",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1183,Ryan Reaves,"$500,000","$525,000","$351,220","$600,000","$1,125,000","$1,125,000","$1,125,000","$266,112","$858,888","$2,775,000","$2,775,000","$1,375,000","$2,125,000",None,None,None,None,None,None,None