In [1]:
from dash import html, dash_table, Input, Output, callback, dcc
import dash_bootstrap_components as dbc
import plotly.express as px
import pandas as pd

In [ ]:
graph = dbc.Card(
                children=[
                    dbc.CardBody([
                        html.Div([
                            dcc.Graph(
                                    id="main-graph",
                                    figure={
                                        "layout":{
                                            "margin": {"t":30, "r":35, "b":40, "l":50},
                                            "xaxis": {
                                                "dtick": 5,
                                                "gridcolor": "#636363",
                                                "showline": False
                                            },
                                            "yaxis":{"showgrid": False, "showline": False},
                                            "plot_bgcolor": "black",
                                            "paper_bgcolor": "black",
                                            "font": {"color": "gray"},
                                        },
                                    },
                                    config={'displayModeBar': False},
                            ),
                            html.Pre(id="update-on-click-data"),
                        ],
                        style={"width": "98%", "display": "inline-block"},
                    ),
                    html.Div([
                        dcc.Dropdown(
                            id='feature-dropdown',
                            options=[
                                {"label": label, "value": label} for label in df.columns if label != 'fullName'
                            ],
                            value="",
                            multi=False,
                            searchable=False
                            )
                        ],
                    style={
                        "width": "33%",
                        "display": "inline-block",
                        "color": "black"
                        },
                    ),
                    html.Div([
                        dcc.Dropdown(
                            id='player-name',
                            options=[
                                {"label": label, "value": label} for label in df.columns if label != 'fullName'
                            ],
                            value="",
                            multi=False,
                            searchable=True
                            )
                        ],
                    style={
                        "width": "33%",
                        "display": "inline-block",
                        "color": "black"
                        },
                    ),
            
            ])
        ])

In [19]:
import pandas as pd

columns = ['birthDate',
           'nationality',
           'id',
           'jerseyNumber',
           'code',
           'type', 
           'abbreviation',
           'birthStateProvince',
           'Team_Number',
           'Unnamed: 0',
           'index',
           'alternateCaptain',
           'captain',
           'active',
           'rookie',
           'rosterStatus',
           'birthCity']

df = pd.read_csv('~/Desktop/NHL-Salary-Predictions/data/cleaned_player_df_dash.csv').drop(columns, axis=1)
df['shootsCatches'] = df['shootsCatches'].replace('L', 'Left').replace('R', 'Right')
df['id'] = df['fullName']
df.set_index('id', inplace=True, drop=False)

# --------------------------- Player Salaries -------------------------------------------------

df = df[df['Salary_2021-22'] != 0.0]
df_datatable_1 = df[['fullName',
                     'Salary_2021-22',
                     'name',
                     'currentAge',
                     'height',
                     'weight',
                     'shootsCatches',
                     'birthCountry']] \
                    .sort_values('Salary_2021-22', ascending=False)
df_datatable_1['shootsCatches'] = df_datatable_1['shootsCatches'].replace('L', 'Left').replace('R', 'Right')
df_datatable_1['Rank'] = range(1, len(df_datatable_1) + 1)
df_datatable_1 = df_datatable_1[['Rank',
                                 'fullName',
                                 'Salary_2021-22',
                                 'name',
                                 'currentAge',
                                 'height',
                                 'weight',
                                 'shootsCatches',
                                 'birthCountry']]
# df_datatable_1['id'] = df['fullName']
# df_datatable_1.set_index('id', inplace=True, drop=False)

# --------------------------- Offensive Stat's -------------------------------------------------

offense = df[['fullName',
              'timeOnIce22',
              'assists22',
              'goals22',
              'pim22',
              'shots22',
              'games22',
              'hits22']]
offense['timeOnIce22'] = offense['timeOnIce22'].str.replace(':', '.').astype(float)
offense.fillna(0.0, inplace=True)

/tmp/ipykernel_55887/1136401470.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offense['timeOnIce22'] = offense['timeOnIce22'].str.replace(':', '.').astype(float)
/tmp/ipykernel_55887/1136401470.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offense.fillna(0.0, inplace=True)

In [20]:
df_datatable_1

,Rank,fullName,Salary_2021-22,name,currentAge,height,weight,shootsCatches,birthCountry
id,,,,,,,,,
Connor McDavid,1,Connor McDavid,15000000.0,Center,24,"6' 1""",193,Left,CAN
Artemi Panarin,2,Artemi Panarin,13000000.0,Left Wing,29,"5' 11""",170,Right,RUS
Tyler Seguin,3,Tyler Seguin,13000000.0,Center,29,"6' 1""",200,Right,CAN
Mark Stone,4,Mark Stone,12000000.0,Right Wing,29,"6' 3""",202,Right,CAN
Roman Josi,5,Roman Josi,10750000.0,Defenseman,31,"6' 1""",201,Left,CHE
...,...,...,...,...,...,...,...,...,...
Dominik Simon,437,Dominik Simon,146250.0,Center,26,"5' 11""",190,Left,CZE
Jeremy Davies,438,Jeremy Davies,146250.0,Defenseman,24,"5' 11""",180,Left,CAN
William Lagesson,439,William Lagesson,146250.0,Defenseman,25,"6' 2""",207,Left,SWE
Jake Walman,440,Jake Walman,146250.0,Defenseman,25,"6' 1""",210,Left,CAN
Mathieu Olivier,441,Mathieu Olivier,116250.0,Right Wing,24,"6' 2""",210,Right,USA

In [7]:
offense = [
    'fullName',
     'assists22',
     'goals22',
     'shots22',
     'faceOffPct22',
     'shotPct22',
     'gameWinningGoals22',
     'overTimeGoals22',
     'points22',
     'plusMinus22',
]
special_teams = [
    'fullName',
     'powerPlayGoals22',
     'powerPlayPoints22',
     'powerPlayTimeOnIce22',
     'shortHandedGoals22',
     'shortHandedPoints22',
     'shortHandedTimeOnIce22',
]
enforcer = [
    'fullName',
     'hits22',
     'penaltyMinutes22',
]
endurance = [
    'fullName',
        'timeOnIce22',
         'games22',
         'shifts22',
         'blocked22',
         'timeOnIcePerGame22',
         'evenTimeOnIcePerGame22',
         'shortHandedTimeOnIcePerGame22',
         'powerPlayTimeOnIcePerGame22',
]

In [15]:
offense_data = df[offense].copy()
offense_data['id'] = offense_data['fullName'] 
offense_data.set_index('id', inplace=True, drop=False)

# --------------------------- Special Team Stat's ----------------------------------------------

special_team_data = df[special_teams].copy()
special_team_data['id'] = special_team_data['fullName'] 
special_team_data.set_index('id', inplace=True, drop=False)
special_team_data['powerPlayTimeOnIce22'] = special_team_data['powerPlayTimeOnIce22'].str.replace(':', '.').astype(float)
special_team_data['shortHandedTimeOnIce22'] = special_team_data['shortHandedTimeOnIce22'].str.replace(':', '.').astype(float)

# --------------------------- Enforcer Stat's ----------------------------------------------

enforcer_data = df[enforcer].copy()
enforcer_data['id'] = enforcer_data['fullName'] 
enforcer_data.set_index('id', inplace=True, drop=False)

# --------------------------- Endurance Stat's ----------------------------------------------

endurance_data = df[endurance].copy()
endurance_data['id'] = endurance_data['fullName'] 
endurance_data.set_index('id', inplace=True, drop=False)

endurance_data['timeOnIce22'] = endurance_data['timeOnIce22'].str.replace(':', '.').astype(float)
endurance_data['timeOnIcePerGame22'] = endurance_data['timeOnIcePerGame22'].str.replace(':', '.').astype(float)
endurance_data['evenTimeOnIcePerGame22'] = endurance_data['evenTimeOnIcePerGame22'].str.replace(':', '.').astype(float)
endurance_data['shortHandedTimeOnIcePerGame22'] = endurance_data['shortHandedTimeOnIcePerGame22'].str.replace(':', '.').astype(float)
endurance_data['powerPlayTimeOnIcePerGame22'] = endurance_data['powerPlayTimeOnIcePerGame22'].str.replace(':', '.').astype(float)

In [18]:
enforcer_data

,fullName,pim22,hits22,penaltyMinutes22,id
id,,,,,
P.K. Subban,P.K. Subban,82.0,69.0,82.0,P.K. Subban
Ryan Murray,Ryan Murray,2.0,32.0,2.0,Ryan Murray
Damon Severson,Damon Severson,57.0,91.0,57.0,Damon Severson
Will Butcher,Will Butcher,0.0,11.0,0.0,Will Butcher
Miles Wood,Miles Wood,4.0,5.0,4.0,Miles Wood
...,...,...,...,...,...
Alex Tuch,Alex Tuch,14.0,32.0,14.0,Alex Tuch
Keegan Kolesar,Keegan Kolesar,68.0,246.0,68.0,Keegan Kolesar
Nicolas Roy,Nicolas Roy,51.0,85.0,51.0,Nicolas Roy
Dylan Coghlan,Dylan Coghlan,18.0,62.0,18.0,Dylan Coghlan
Zach Whitecloud,Zach Whitecloud,20.0,98.0,20.0,Zach Whitecloud